<mat-form-field appearance="fill">
    <mat-label>Player name</mat-label>
    <input matInput 
           (change)="test()"
           [(ngModel)]="gameService.game.player">
</mat-form-field>

<div class="suggestion" [formGroup]="suggestion" >
    <p><mat-checkbox formControlName="suggested" (change)="checkSuggestion($event.checked)">With suggestions (prevent recording the score)</mat-checkbox></p>
</div>
  
<p class="suggestion">Select a map to play or replay with: </p>

<div class="box-map">
    <mat-form-field appearance="fill">
        <mat-select [(value)]="gameService.game.level" (selectionChange)="getLevel($event.value)">
          <mat-option value = {{enum.value}} *ngFor="let enum of level | keyvalue">
            {{enum.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>   
      <button class="buttonGenerateMap" (click)="generateMap()" >Generate random board</button>
     <button (click)="existingGame()">Existing game</button>
</div>
<span #imgTarget></span>

<p class="consigne">Click on a Sudoku board to launch the game with.</p>

<div class="suggestion" [formGroup]="suggestion">
<h4>You chose:</h4>
{{gameService.game.wSuggestion}}

</div>
<p>You selected: {{this.gameService.game.level}}</p>
