* {
    font-family: Bodo;
    font-size: 16px;
}

body{
    margin:0;
    padding:0;
}

mat-grid-list{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

mat-grid-tile{
    border: 3px solid black;
    margin: 0;
    padding: 0;
}

::ng-deep .mat-select {
    background-color: white;
}

::ng-deep .mat-select .mat-select-trigger{
    height: 100%;
    text-align: center;
}   

.end-board{
    position: absolute; 
    width: 500px; 
    height: 250px; 
    background-color: gray; 
    z-index: 10; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.tile-select-html {
    height: var(--size-cell);
    width: var(--size-cell);
}

.tile-error{
    background-color: lightcoral;
}

.given{
    background-color: lightgrey;
}

.full{
    height: 100%;
    width: 100%;
}

.center{
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
