* {
    font-family: Bodo;
    font-size: 16px;
}

body{
    margin:0;
    padding:0;
}



mat-grid-list{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

mat-grid-tile{
    border: 1px solid black;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}
select{
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align: center;
    border: 0;
    background-color: white;
}
