<div class="end-board" *ngIf="gameService.game.checkEnd()">
  END GAME {{gameService.game.player}} !!!
  <br>
  <p style="font-size: 20px;"> Score: {{gameService.game.coups}}</p>
  <br>
  <button mat-stroked-button (click)="returnToMenu()" [style.background]="'whitesmoke'">
    return to menu
  </button>
</div>

<div style="width: 100%; height: 100%;">

  <div #h style="float:left; width: 50%;">
    <io-tree-history #treecomp style="height: 80%" [svgIconSize]="200" [style.width]="histWidth"></io-tree-history>
  </div>

  <div style="float:right; width: 50% ; max-height: fit-content;">
    <mat-grid-list cols="9" rowHeight="1:1">
      <mat-grid-tile *ngFor="let x of a">
        <p style=" position: absolute; top: 0px; right: 0px; margin-top: 0;" *ngIf = "gameService.game.wSuggestion">
          {{printRecSet(x)}}
        </p>
        <!--
        <p style=" position: absolute; bottom: 0px; right: 0px; margin-bottom: 0; margin-right: 10px;">
          {{x}}
        </p>
        -->
        <mat-select disableOptionCentering 
                    panelClass="select-tile"
                    class="tile-select-html"
                    (selectionChange)="[test($event.value,x),increaseCoup($event.value)]"
                    [ioMatSelect] (matSelectBinder)="setValue($event, x)"
                    [ioClick] (clickBinder)="directSet($event, x)"
                    [value]="this.gameService.game.map.cas[x]"
                    [ngClass]="gameService.game.checkCase2(x) ? 'tile-error full' : 'full'"
                    *ngIf="gameService.game.map2.cas[x] == 0">
          <mat-option [value]="0"> </mat-option>
          <mat-option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]" [value]=i>
            {{ i }}
          </mat-option>
        </mat-select>  
  
        <div  [ngClass]="gameService.game.checkCase2(x) ? 'tile-error full' : 'given full'" 
              *ngIf="gameService.game.map2.cas[x] == 1" >
          <p class="center">
            {{gameService.game.map.cas[x]}} 
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>

<div style="clear:both"></div>