
  
  * {
    font-family: Bodo;
    font-size: 20px;
    box-sizing: border-box;
  }
.buttonRanking {
    border: none;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 30px;
  }


  
  