@font-face {
  font-family: Bodo;
  src: url("../assets/BodoAmat.ttf");
}

* {
  font-family: Bodo;
}

body{
  margin:0;
  padding:0;
}

div {
  --size-cell: 60px;
  --nb-cell: 9;
}

mat-grid-list{
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
}

mat-grid-tile{
  border: 2px solid black;
  margin: 0;
  padding: 0;
}
select{
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  text-align: center;
  border: 0;
}
